* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.head {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: rgba(28, 26, 26, 0.8);
  position: fixed;
}

.navbar {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.apple-logo a,
.search-logo,
.bar-logo {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.search-logo {
  font-size: 0.9rem;
}

.none {
  font-size: 0.7rem;
  color: white;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  width: 70%;
}

.phone {
  width: 100%;
  height: 600px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.caption {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label-phone {
  font-size: 3.2rem;
  margin-bottom: 5px;
}

.label-product {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.script {
  font-size: 1.3rem;
}

.image img {
  width: 700px;
}

.btn-one,
.btn-two {
  padding: 10px 23px;
  border-radius: 50px;
  outline: 0;
  cursor: pointer;
}

.btn-one {
  border: 0;
  background-color: dodgerblue;
  color: white;
  margin-right: 5px;
}

.btn-two {
  border: 1px solid dodgerblue;
  background-color: transparent;
  margin: 20px 0 0 5px;
}

.btn-one a {
  color: white;
}

.btn-two a {
  color: dodgerblue;
}

.btn-two:hover {
  background-color: dodgerblue;
}

.btn-two:hover a {
  color: white;
}

.element {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.element img {
  width: 100px;
}

.row-one,
.row-two {
  width: 100%;
  height: 500px;
  display: flex;
}

.row-two {
  margin-top: 12px;
}

.element-one,
.element-two,
.element-three,
.element-four {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.element-one,
.element-three {
  background-color: rgb(245, 245, 250);
  margin-right: 6px;
}

.element-two,
.element-four {
  background-color: black;
  color: white;
  margin-left: 6px;
}

.mac-cap,
.ipad-cap,
.vision-cap,
.watch-cap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mac img {
  width: 550px;
}

.ipad img {
  width: 250px;
}

.vision-cap,
.watch-cap {
  margin-top: 50px;
}

.vision img {
  width: 500px;
}

.watch img {
  width: 100%;
  margin-top: -4px;
}

.series {
  font-size: 0.8rem;
  color: rgb(212, 1, 1);
}
